{% extends "layout.html" %}
{% set active_page = 2 %}
{% block content %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Yazar {{ author.username }}</div>
        <div class="panel-body">
            <p>{{ author.bio }}</p>
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Soru adı</th>
                <th>İlgili konular</th>
                <th>Çözüm sayısı</th>
                <th>Zorluk</th>
            </tr>
            </thead>
            {% for problem in problems %}
                <tr>
                    <td>{{ problem.id }}</td>
                    <td><a href="{{ url_for('problem', slug=problem.slug) }}">{{ problem.title }}</a></td>
                    <td>{{ problem.tags }}</td>
                    <td>{{ problem.count }}</td>
                    <td>{{ problem.difficulty }}</td>
                </tr>
            {% endfor %}
        </table>


        <!-- /container -->
{% endblock %}