{% extends "layout.html" %}

{% block title %}Problem Listesi{% endblock %}
{% block content %}
<div class="container main" role="main">

    <div class="row">
        <div class="col-md-4"><input type="text" class="form-control" placeholder="Ara"></div>
        <div class="col-md-4"><select class="form-control">
            <option>ID</option>
            <option>isim</option>
            <option>konular</option>
            <option>zorluk</option>
        </select></div>
        <div class="col-md-4"><label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1"> Çözülmüş soruları gösterme
        </label></div>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Soru adı</th>
            <th>İlgili konular</th>
            <th>Çözüm sayısı</th>
            <th>Zorluk</th>
        </tr>
        </thead>
        {% for problem in problems %}
        <tr>
            <td>{{ problem.id }}</td>
            <td><a href="{{ url_for('problem', slug=problem.slug) }}">{{ problem.title }}</a></td>
            <td>{{ problem.related }}</td>
            <td>{{ problem.count }}</td>
            <td>{{ problem.difficulty }}</td>
        </tr>
        {% endfor %}
    </table>
    <ul class="pager">
        <li><a href="#">Previous</a></li>
        <li><a href="#">Next</a></li>
    </ul>

    {{ footer() }}
</div>
<!-- /container -->
{% endblock %}