{% extends "layout.html" %}
{% set active_page = 2 %}
{% block content %}
    <div class="col-sm-12">
        <div class="page-header">
            <h1>{{ submission.id }} <span class="badge">badge</span></h1>
            <h5>
                Tarih: {{ submission.timestamp }}</h5>
        </div>
    </div>
    <div class="col-sm-8">
        {{ submission.code|markdowncode|markdown }}
    </div>

    <div class="col-sm-4 well">
        <div class="container-fluid">
            {% if current_user.is_active %}
                <div class="row"><h3>
                    {% if submission.successful %}
                        <span class="label label-success">Çözüldü</span>
                    {% else %}
                        <span class="label label-danger">Hatalı</span>
                    {% endif %}
                </h3></div>
                <div class="row"><p>Eski kodlar: </p></div>
                <div class="row"><p>Kod ekle</p></div>
            {% endif %}

        </div>

    </div>


    <!-- /container -->
{% endblock %}
{% block js %}

{% endblock %}
