{% extends "layout.html" %}

{% block title %}Problem Listesi{% endblock %}
{% block content %}
<div class="container main" role="main">

    <div class="row">
        <div class="col-md-4"><input type="text" class="form-control" placeholder="Ara"></div>
        <div class="col-md-4"><select class="form-control">
            <option>ID</option>
            <option>isim</option>
            <option>konular</option>
            <option>zorluk</option>
        </select></div>
        <div class="col-md-4"><label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1"> Çözülmüş soruları gösterme
        </label></div>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Soru adı</th>
            <th>İlgili konular</th>
            <th>Çözüm sayısı</th>
            <th>Zorluk</th>
        </tr>
        </thead>
        <tr>
            <td><a href="1.html">1</a></td>
            <td><a href="1.html">Mükemmel sayı</a></td>
            <td>Basic Operations, Loops, Conditionals</td>
            <td>112</td>
            <td>Z1</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Mükemmel sayı</td>
            <td>Basic Operations, Loops, Conditionals</td>
            <td>112</td>
            <td>Z1</td>
        </tr>
        <tr class="danger">
            <td>3</td>
            <td>Mükemmel sayı</td>
            <td>Basic Operations, Loops, Conditionals</td>
            <td>112</td>
            <td>Z1</td>
        </tr>
        <tr class="success">
            <td>4</td>
            <td>Mükemmel sayı</td>
            <td>Basic Operations, Loops, Conditionals</td>
            <td>112</td>
            <td>Z1</td>
        </tr>
    </table>
    <ul class="pager">
        <li><a href="#">Previous</a></li>
        <li><a href="#">Next</a></li>
    </ul>

    {{ footer() }}
</div>
<!-- /container -->
{% endblock %}